body {
    width: 100%
}

.home-row:nth-child(1){
    margin-top: 80px;
}

.home-row {
    margin-top: 20px;
    min-height: 100px;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
    overflow: auto;
}

.home-col {
    height: 100%;
    padding: 10px;
    height: 70px;
}

.home-col .block {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 1.7rem;
}

.home-col .block span {
    display: block;
    margin-top: 7px;
    user-select: none;
    cursor: default;
}

.home-col .block b {
    font-size: 1.4rem;
}

.home-col h2 {
    font-size: 2rem;
    margin: 0px;
    color: #4f77cc;
    cursor: pointer;
    font-weight: normal;
}

.home-col h2:hover {
    color:deepskyblue;
}

.home-col footer {
    width: 70%;
    margin-top: 10px;
    color: gray;
}

.home-col footer .desc {
    float: left;
    width: 70%;
}

.home-col footer .desc span {
    display: block;
    width: 90%;
    word-wrap: break-word;
}

.home-col footer .created-by {
    font-size: 1.2rem;
    font-weight: normal;
}

.add-bg {
    display: none;
    z-index: 1599;  
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4)
}
.add-project {  
    z-index: 1600;  
    position: absolute; 
    width: 600px;
    height: 600px;
    margin-top: 45px;
    left:50%; 
    margin-left:-25%;
    border: 1px solid lightgray;
    box-shadow: 0 0.3em 0.3em rgba(0,0,0,0.2);
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.add-project h2,
.add-project label {
    color: gray;
}

.add-project textarea {
    min-height: 300px;
}
.hide {
    display: none;
}

.not-found{
    margin-top: 150px;
    font-family: Tahoma;
    text-align: center;
}
.not-found h1 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 8rem;
}

.not-found p {
    font-size: 1.5rem;
}

.not-found span {
    font-weight: bold;
    font-size: 3.7rem;
}