body {
  background: url("http://atspot.ru/images/pm-bg.jpg") no-repeat;
  background-size: cover;
  color: white;
}

.login-page {
  display: none;
  margin-top: 10%;
  font-family: 'Myriad Pro';
}

.form {
  display:  block;
  text-align: center;
  margin: 0 auto;
}

.register-form {
  display: none;
}

.login-form {
  display: block;
}

input {
  width: 250px;
  height: 35px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding-left: 5px;
}

button {
  width: 100px;
  height: 35px;
  text-transform: uppercase;
}